/* change these */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently, 
name the variables differently, 
use the fonts in other ways in the font hierarchy etc. */

/* change these */
:root {
  --bg-color: #187227;
  --link-color: #ea4e7f;
  --link-hover-color: #fbe14d;
  --color-4: #3991d6;
  --color-5: #fff0e4;

  --primary-font: "Kalam", sans-serif;
  --secondary-font: "Rubik", serif;
  --third-font: "Open Sans", sans-serif;
  --main-text-color: rgb(61, 61, 61);

  --white-space: 1rem;
}

button:hover {
  background-color: var(--link-hover-color);
  color: #187227;
}

button:active {
  background-color: var(--bg-color);
}

a:hover {
  color: var(--link-hover-color);
}
html {
  font-size: 100%;
  font-family: var(--secondary-font);
  background-image: url(../img/4.png);
}

img {
  max-width: 100%;
  height: auto;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background: var(--bg-color);
  color: #fd8272;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-right: 0.75em;
  margin-bottom: 0.2em;
  font-weight: bold;
  color: #fd8272;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  font-style: italic;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  margin-bottom: calc(4 * var(--white-space));
}

.section-heading {
  font-style: italic;
  font-size: 1.3rem;
  color: #777;
  margin: 0.5rem 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 3%;
  height: 8vw;
  width: 9vw;
  border-radius: 50%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}

.illustration li {
  height: 10vw;
  width: 30%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.illustration-swatch-1 {
  background-image: url(../img/2.png);
}

.illustration-swatch-2 {
  background: url(../img/1.png);
}

.illustration-swatch-3 {
  background: url(../img/3.png);
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  border-radius: 4px;
  background: var(--link-color);
  text-align: center;
  text-decoration: none;
  font: 1.25em/1 var(--secondary-font);
  letter-spacing: 1px;
  color: var(--color-5);
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #0374a0;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}

.secondary-button {
  background: var(--color-4);
}

button:focus,
button:active,
button:focus-within {
  border-radius: 4px;
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-family: var(--primary-font);
  font-size: 4rem;
  font-weight: 300;
}

.h2-sample {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  letter-spacing: 0.4em;
}

p.typography-sample {
  font-family: var(--third-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  margin-bottom: calc(2 * var(--white-space));
  font-size: 0.75rem;
  font-family: var(--secondary-font);
  color: #6f6f6f;
}

.adjectives ul {
  font-size: 2rem;
  opacity: 0.5;
}

.adjectives ul {
  flex-direction: column;
}

footer {
  font-style: italic;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 8vw;
    width: 9vw;
    border-radius: 50%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
